{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "max-len": ["error", { "code": 120 }],
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "no-console": 0,
    "no-undef": 0,
    "array-callback-return": 0,
    "no-unused-expressions": 0,
    "no-restricted-syntrax": 0,
  }
}
